/*.title {*/
/*    font-size: 32px;*/
/*    border-bottom: 2px solid #4CD4B0;*/
/*    padding: 15px;*/
/*    color: #4CD4B0;*/

/*}*/
.master-item {
    font-size: 24px;
    border-bottom: 2px solid#e8a87c;
    padding: 15px;
    background: white;
    color: #e8a87c;
}


.master-item-red {
    font-size: 24px;
    border-bottom: 2px solid #d44c9e;
    padding: 15px;
    background: white;
    color:#d44c9e;
}

.text-center {
    text-align: center;
}

.master-item:hover, .active-item {
    background: #e8a87c;
    color: white;
    cursor: pointer
}

.master-item-red :hover{
    /*background: #d44c9e;*/
    color: white;




     ;
    cursor: pointer
}

.master {
    padding: 25px;
    border:none;
    box-sizing: border-box;
    height: 100vh;
}

/*.hidden-md {*/
/*    display: inline*/
/*}*/

/*.hidden-md-down {*/
/*    display:none*/
/*}*/

/* For phones: */
[class*="col-"] {
    width: 100%;
    float: left;
}

.detail{
    padding: 25px;
    box-sizing: border-box;
    position: absolute;
    z-index: 11;
    /*color: #4cd4b0;*/
    height: 100vh;
    background: white
}

/*.md-container  {*/
/*    position: relative;*/
/*}*/

/*#back-btn {*/
/*    color: #4CD4B0;*/
/*    border: 1px solid #4CD4B0;*/
/*    background: white;*/
/*    border-radius: 5px;*/
/*    padding: 5px 10px;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

/*#back-btn:hover {*/
/*    cursor: pointer;*/
/*    color: white;*/
/*    background: #4CD4B0;*/
/*}*/


/* For 786 and above: */
@media only screen and (min-width: 768px) {

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .hidden-md {
        display: none;
    }

    .detail {
        position: static;
    }

    .master{
        border-right: 3px solid #4CD4B0;
    }
}

/*.custom-div{*/
/*    display: none;*/
/*    flex-direction: row;*/
/*}*/